#!/bin/python
# -*- coding: utf-8 -*-

BOTNAME = 'XXXXXX'
BOTPASS = 'YYYYYY'
HOST = 'irc.freenode.net'
PORT = 6667
GLOBAL_USERS = ['YYY', 'XXX']
# First channel will benefit of private use of !last commands
CHANNELS = {
  'XXX': {
    'USERS': ['DDD', 'EEE'],
    'TWITTER': {
        'USER': '',
        'PASS': '',
        'KEY': '',
        'SECRET': '',
        'OAUTH_TOKEN': '',
        'OAUTH_KEY': ''
    },
    'IDENTICA': {
        'USER': '',
        'PASS': ''
    }
  },
  'YYY': {
  }
}
MONGODB = {
    'HOST': 'localhost',
    'PORT': 27017,
    'DATABASE': BOTNAME,
    'USER': BOTNAME,
    'PSWD': BOTPASS
}
DEBUG = False
ADMINS = ['XXX']
