GAZOUILLEUR_IRC_HOST=irc.freenode.net
GAZOUILLEUR_IRC_PORT=6667
GAZOUILLEUR_SSL=false
GAZOUILLEUR_BOT_NICKNAME=medialabot
GAZOUILLEUR_BOT_PASSWORD=
GAZOUILLEUR_COMMAND_CHARACTER=!
GAZOUILLEUR_GLOBAL_USERS=["Roux_taff"]
GAZOUILLEUR_BACK_HOURS=6
GAZOUILLEUR_CHANNELS={"medialab-test": { 'MASTER': True, 'DISCREET': False, 'EXCLUDE_COMMANDS': ['title', 'lastmore'], 'USERS': ['Roux_screen'], 'TWITTER': { 'USER': 'medialab_ScPo', 'DISPLAY_RT': True, 'KEY': 'XXXXXXXXXXXXXXXXXXXXXXXXX', 'SECRET': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX', 'OAUTH_TOKEN': 'XXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX', 'OAUTH_SECRET': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX', 'DISPLAY_STATS': False, 'FORBID_POST': False, 'ALLOW_ALL': False}, 'DISPLAY_RT': False}}
GAZOUILLEUR_SOLITARY=false
GAZOUILLEUR_URL_WEB=http://localhost:5000/
GAZOUILLEUR_URL_MANET=https://manet.herokuapp.com/
GAZOUILLEUR_EXTRA_COMMANDS=[{"command": "pad", "help": "Prints the url of the current etherpad.", "helpset": "Defines <value> as url for the chan\"s etherpad./AUTH", "return": "Current pad is available at: %s", "none": "No pad is currently set for this channel.", "validation": "https?://.*pad", "fail": "This is not a valid pad url."}]
GAZOUILLEUR_DEBUG=false
