lxml
twisted
pymongo
twitter>=1.10
git+https://github.com/xray7224/PyPump.git
feedparser
pyOpenSSL
# The following are only required to use the URL_STATS functionality. You can comment them if you don't need it
# numpy apparently needs to be installed before separately for matplotlib to be installed properly, so first run:
# pip install numpy
matplotlib
pystache
