lxml
feedparser
pyOpenSSL
six>=1.7.3
twisted>=12.1.0
virtualenvwrapper

# Mongo
pymongo>=2.7
# txmongo>=0.4.3 Wait until 0.4.3 published on pypi
git+https://github.com/fiorix/mongo-async-python-driver

# Twitter
#twitter>=1.14.3 Wait until 1.14.4 published on pypi
git+https://github.com/sixohsix/twitter/

# Identi.ca
pypump>=0.5.0

# Colifrapy: Hey @Yomguithereal, told you I was gonna use it sometime! :)
colifrapy==0.4.0

# The following are only required to use the URL_STATS functionality. You can comment them if you don't need it
# numpy apparently needs to be installed before separately for matplotlib to be installed properly, so preferably run first:
# pip install numpy
# matplotlib
# pystache
