#!/usr/bin/env python
# -*- coding: utf-8 -*-

# Example config of the actual bot gazouilleur on #RegardsCitoyens 's chan on freenode.net

BOTNAME = 'gazouilleur2'
BOTPASS = '--------'
HOST = 'irc.freenode.net'
PORT = 6667

MONGODB = {
  'HOST': 'localhost',
  'PORT': 27017,
  'DATABASE': BOTNAME,
  'USER': BOTNAME,
  'PSWD': BOTPASS
}

# GLOBAL_USERS will have rights to perform all available commands on all channels
GLOBAL_USERS = ['Roux']

TWITTER_API_VERSION = 1.1
TWITTER_API_LIMIT = 5
# Number of hours back in the past follow queries will catch-up
BACK_HOURS = 6

# Character to use to prefix commands to the bot. Careful since using ordinar characters can naturally result in weird behaviors
COMMAND_CHARACTER = '!'

CHANNELS = {
  'regardscitoyens': {
    'MASTER': True, # Master channel will be the focus of some commands sent in private to the bot when option --chan is not specified
    'USERS': [],    # These extra USERS will have rights to perform all available commands on this specific channel
    'IDENTICA': {   # Optionnally set an IDENTICA USER and PASS to allow microblogging with Identi.ca
      'USER': 'regardscitoyens',
      'PASS': '---------'
    },
    'TWITTER': {    # Set a TWITTER USER to follow its tweets and mentions
      'USER': 'RegardsCitoyens',
      'DISPLAY_RT': True,   # Set to true to follow also all RTs of USER's tweets
      'KEY': 'xxxxxxxxxxxxxxxxxxxxx',   # Set KEY SECRET OAUTH_TOKEN and OAUTH_SECRET to allow microblogging with Twitter
      'SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'OAUTH_TOKEN': 'xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'OAUTH_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'ALLOW_ALL': False    # Set to true to allow all users of the IRC channel to post on twitter
    },
    'DISPLAY_RT': False     # Set to true to follow also all RTs for queries set on this channel
  },
  'rc-test': {
    'USERS': []
  }
}

# URL_STATS is optional to provide a web view on Twitter's stats.
# This url needs tp be routed to gazouilleur's "web" directory
# For instance if /var/www/ is already served by apache via `ln -s /var/www/twitter-stats ##GAZOUILLEURPATH##/web`
URL_STATS = "http://www.regardscitoyens.org/stats/"
#DEBUG mode will display errors publicly on the channel
DEBUG = False
#ADMINS will get in priv msg tracebacks from errors
ADMINS = GLOBAL_USERS
