#!/usr/bin/env python
# -*- coding: utf-8 -*-

# Example config of the actual bot gazouilleur on #RegardsCitoyens 's chan on freenode.net
# This is python syntax, be careful to respect it following the examples 


# 1) Choose your IRC server and bot name
# Remember to register it with a botpass
HOST = 'irc.freenode.net'
PORT = 6667
BOTNAME = 'gazouilleur2'
BOTPASS = '--------'


# 2) Configure access to your MongoDB
# Except for specific mongo config, this should not be modified
MONGODB = {
  'HOST': 'localhost',
  'PORT': 27017,
  'DATABASE': BOTNAME,
  'USER': BOTNAME,
  'PSWD': BOTPASS
}


# 3) Configure Gazouilleur's features
# Which character to use for prefix commands to the bot.
# Careful: using ordinar characters can naturally result in weird behaviors
COMMAND_CHARACTER = '!'
# Define GLOBAL_USERS with rights to perform all available commands on all channels
GLOBAL_USERS = ['Roux']
# Define how many hours back in time Gazouilleur should try to catch up on followed news and tweets after an offtime
BACK_HOURS = 6
# Define which version of Twitter's API to use. V1 now being closed, there is currently no other choice 
TWITTER_API_VERSION = 1.1
# Define how many time every 15 minutes some specific limited-rate queries to Twitter's API will be performed
# Default value should be properly calibrated. Modify only if you know what you're doing.
TWITTER_API_LIMIT = 5


# 4) Define in which IRC channels Gazouilleur should operate respecting the following rules:
# - One entry per channel with various optionnal options
# - One and only one channel should have MASTER set to True
# - When setting a Twitter account for a channel, you will need to create the corresponding app on https://dev.twitter.com
# Be sure to give it "Read, write, and direct messages" rights.
# - When setting an Identi.ca account for a channel, you will need to run `python bin/auth_identica.py` to authorize it.
CHANNELS = {
  'regardscitoyens': {
    'MASTER': True, # Master channel will be the focus of some commands sent in private to the bot when option --chan is not specified
    'USERS': [],    # These extra USERS will have rights to perform all available commands on this specific channel
    'IDENTICA': {   # Optionnally set an IDENTICA USER to allow microblogging with Identi.ca
      'USER': 'regardscitoyens'    # A password is no longer required since the migration from Status.net to Pump.io.
                                   # Please run `python bin/auth_identica.py` to get OAuth config.
    },
    'TWITTER': {    # Optionnally set a TWITTER account for the channel to send tweets and follow its mentions, DMs and stats
      'USER': 'RegardsCitoyens',
      'DISPLAY_RT': True,   # Set to True to display also all RTs of the Twitter account's tweets
      'KEY': 'xxxxxxxxxxxxxxxxxxxxx',   # Set KEY SECRET OAUTH_TOKEN and OAUTH_SECRET from dev.twitter.com
      'SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'OAUTH_TOKEN': 'xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'OAUTH_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      'FORBID_POST': False, # Set to True to forbid any use of Twitter's posting commands (statuses, dms, rts, answers, ...). Useful to use Twitter's streaming in following-only mode on a channel.
      'ALLOW_ALL': False    # Set to True to allow any user on the channel to post tweets with the account
    },                      # If set to False or omitted, only GLOBAL_USERS and the USERS set for the chnnel will.
    'DISPLAY_RT': False     # Set to True to display also all RTs for search queries set on the channel
  },
  'gazouilleur-test': {     # Add more IRC channels
    'USERS': []
  }
}
# By default, any Gazouilleur bot will join as well the "#gazouilleur" channel, just to meet and hang out with his folks :)
# The only functionnality left to the bots in this channel is to list his other channels.
# If you do not like that, feel free to uncomment the following line to keep your gazouilleur hidden from the others.
#SOLITARY = True

# 5) Optionnally add web statistics of the Twitter accounts
# URL_STATS is optional to provide a web view on Twitter's stats.
# It requires the installation of a web server (apache, ...) and to install matplotlib 
# You can comment or remove it if you do not need it.
# This url needs to be routed to Gazouilleur's "web" directory
# For instance if /var/www/ is already served by apache, run `ln -s ##GAZOUILLEURPATH##/web /var/www/twitter-stats`
URL_STATS = "http://www.regardscitoyens.org/stats/"


# 6) Developer's options
# DEBUG mode will make log a lot more verbose and display errors publicly on the channel
DEBUG = False
# ADMINS will get in private messages info about errors
ADMINS = GLOBAL_USERS
