<a href="{{url}}img/tweets_{{user}}.png"><img src="{{url}}img/tweets_{{user}}.png" width=350/></a>
<a href="{{url}}img/new_tweets_{{user}}.png"><img src="{{url}}img/new_tweets_{{user}}.png" width=350/></a>
<a href="{{url}}img/tweets_card_{{user}}.png"><img src="{{url}}img/tweets_card_{{user}}.png" width=400 style="padding-bottom:80px"/></a>
<br/>
<a href="{{url}}img/followers_{{user}}.png"><img src="{{url}}img/followers_{{user}}.png" width=350/></a>
<a href="{{url}}img/new_followers_{{user}}.png"><img src="{{url}}img/new_followers_{{user}}.png" width=350/></a>
<a href="{{url}}img/followers_card_{{user}}.png"><img src="{{url}}img/followers_card_{{user}}.png" width=400 style="padding-bottom:80px"/></a>
<br/>
<a href="{{url}}img/rts_{{user}}.png"><img src="{{url}}img/rts_{{user}}.png" width=350/></a>
<a href="{{url}}img/new_rts_{{user}}.png"><img src="{{url}}img/new_rts_{{user}}.png" width=350/></a>
<a href="{{url}}img/rts_card_{{user}}.png"><img src="{{url}}img/rts_card_{{user}}.png" width=400 style="padding-bottom:80px"/></a>
