h1 {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
#selecter {
  width: 100%;
  height: 240px;
  border: 1px solid black;
  overflow-x: auto;
  overflow-y: overlay;
  text-align: center;
}
#versions {
  position: sticky;
  top: 0;
  background-color: white;
  height: 22px;
}
#versions p {
  margin: 0px 1px;
  display: block;
  float:left;
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.selectcopy {
  background-color: lightpink;
}
.selectorig {
  background-color: lightgreen;
}
.selectcopy.selectorig {
  background: linear-gradient(to right, lightpink, lightgreen);
}
#screenshots {
  height: 200px;
  display: table;
}
#screenshots img {
  margin: 1px;
  vertical-align: top;
  cursor: pointer;
}
#differ {
  margin-top: 10px;
  width: 100%;
  height: 835px;
  border: 1px solid black;
}
.copy, .orig {
  float: left;
  width: 50%;
}
#differ input {
  position: absolute;
  margin: 2px;
}
#differ .copy input {
  right: 50%;
}
#differ .version, .title p {
  margin: auto;
  width: 100%;
  height: 18px;
  display: block;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
#differ .version a span {
  font-size: 11px;
}
.title {
  clear: both;
  background-color: #eafaff;
}
.title p {
  border-bottom: none;
}
.copy .version {
  background-color: lightpink;
}
.orig .version {
  background-color: lightgreen;
}
#difflinks, #difftext, iframe {
  height: 250px;
  margin: 0;
  border: 0;
  clear: both;
}
#difflinks, #difftext {
  overflow: hidden;
  border-bottom: 1px solid black;
}
.differ {
  height: 248px;
}
.differ .CodeMirror-lines {
  background-color: #F5FFFF;
}
.mergely-canvas {
  background-color: #eafaff;
}
.mergely.d.lhs {
  background-color: lightpink;
}
.mergely.ch.d.lhs {
  font-weight: bold;
  text-decoration: none;
  background-color: lightpink;
}
.mergely.c.lhs {
  background-color: #ffe9e9;
}
.mergely.c.rhs {
  background-color: #dcf7dc;
}
.mergely.a.rhs {
  background-color: lightgreen;
}
.mergely.ch.a.rhs {
  font-weight: bold;
  background-color: lightgreen;
}
.orig iframe {
  border-left: 1px solid black;
}
