body {
  margin: 5px;
  overflow: hidden;
}
h1 {
  margin: 5px;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
#selecter {
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 1px;
  overflow-x: auto;
  overflow-y: overlay;
  text-align: center;
  margin-bottom: 5px;
}
#versions {
  position: sticky;
  top: 0;
  background-color: white;
  height: 22px;
}
#versions p {
  margin: 0px 1px;
  display: block;
  float:left;
  border-bottom: 1px solid darkgrey;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.selectcopy {
  background-color: lightpink;
}
.selectorig {
  background-color: lightgreen;
}
.selectcopy.selectorig {
  background: linear-gradient(to right, lightpink, lightgreen);
}
#screenshots img {
  margin: 1px;
  vertical-align: top;
  cursor: pointer;
}
.expand {
  position: fixed;
  right: 6px;
  width: 18px;
  background-color: #f9f999;
  font-size: 12px;
  border-left: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  cursor: pointer;
  display: block;
}
#selecter .expand .glyphicon {
  top: 2px;
}
#selecter .expand {
  top: 31px;
}
#diff {
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 1px;
}
.copy, .orig {
  float: left;
  width: 50%;
}
#diff input[name=curwin] {
  position: absolute;
  margin: 2px;
}
#diff .copy input[name=curwin] {
  right: 50%;
}
#diff .version, .title p {
  margin: auto;
  width: 100%;
  height: 18px;
  display: block;
  border-bottom: 1px solid darkgrey;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  float: left;
  background-color: #eafaff;
}
#diff .version a span {
  font-size: 11px;
}
.title {
  clear: both;
}
.title p {
  border-bottom: none;
}
#diff .copy .version {
  background-color: lightpink;
}
#diff .orig .version {
  background-color: lightgreen;
}
#difflinks, #difftext, iframe {
  margin: 0;
  border: 0;
  clear: both;
}
#diff .expand .glyphicon {
  top: 2px;
  left: 2px;
}
#diff .expand {
}
#difflinks, #difftext {
  overflow: hidden;
  border-bottom: 1px solid darkgrey;
}
.differ {
  height: 248px;
}
.mergely-canvas {
  background-color: #eafaff;
}
.mergely.d.lhs {
  background-color: lightpink;
}
.mergely.ch.d.lhs {
  font-weight: bold;
  text-decoration: none;
  background-color: lightpink;
}
.mergely.c.lhs {
  background-color: #ffe9e9;
}
.mergely.c.rhs {
  background-color: #dcf7dc;
}
.mergely.a.rhs {
  background-color: lightgreen;
}
.mergely.ch.a.rhs {
  font-weight: bold;
  background-color: lightgreen;
}
#fullshots {
  display: none;
  overflow: overlay;
  clear: both;
}
#fullshots img {
  float: left;
}
.orig iframe {
  border-left: 1px solid darkgrey;
}
