h1 {
  font-size: 22px;
  text-align: center;
}
#selecter {
  width: 100%;
  height: 240px;
  border: 1px solid black;
  overflow: auto;
  text-align: center;
}
#versions {
  position: sticky;
  top: 0;
  background-color: white;
  height: 22px;
}
#versions p {
  margin: 0px 2px;
  display: block;
  float:left;
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.selectcopy {
  background-color: lightpink;
}
.selectorig {
  background-color: lightgreen;
}
.selectcopy.selectorig {
  background: linear-gradient(to right, lightpink, lightgreen);
}
#screenshots {
  height: 200px;
  display: table;
  overflow: auto;
}
#screenshots img {
  margin: 2px;
  vertical-align: top;
  cursor: pointer;
}
#differ {
  margin-top: 10px;
  width: 100%;
  height: 775px;
  border: 1px solid black;
}
.copy, .orig {
  float: left;
  width: 50%;
}
#differ input {
  position: absolute;
}
#differ .copy input {
  right: 50%;
}
#differ .version {
  margin: auto;
  width: 100%;
  height: 18px;
  display: block;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 13px;
  padding-top: 4px;
}
.copy .version {
  background-color: lightpink;
}
.orig .version {
  background-color: lightgreen;
}
#difflinks, #difftext, iframe {
  height: 250px;
  margin: 0;
  border: 0;
  clear: both;
}
#difflinks, #difftext {
  overflow: hidden;
  border-bottom: 1px solid black;
}
.differ {
  height: 248px;
}
.mergely-canvas {
  background-color: #eafaff;
}
.mergely.a.rhs {
  background-color: #bcf7bc;
}
.mergely.ch.a.rhs {
  font-weight: bold;
  background-color: lightgreen;
}
.mergely.d.lhs {
  background-color: #ffccd3;
}
.mergely.c.lhs {
  background-color: #ffe9e9;
}
.mergely.c.rhs {
  background-color: #bcf7bc;
}
.orig iframe {
  border-left: 1px solid black;
}
.links {
  background-color: #F5FFFF;
}
.text {
  background-color: #F5F5FF;
}
.content {
  padding: 5px;
  font-family: monospace;
  font-size: 11px;
  white-space: pre-wrap;
}
